

@font-face {
    font-family: 'Sora-Medium';
    color: whitesmoke;
    src: url("/LMG_APUNTS/fonts/Sora-Medium.ttf");
}

@font-face {
    font-family: 'LemonMilk';
    src: url("/LMG_APUNTS/fonts/LEMONMILK-Bold.otf");
}

body {
    font-family: 'Sora-Medium';
    color: white;
    background-color: #0c192c;
}

header, h1, h2, h3, h4 {
    font-family: 'LemonMilk';
}
